/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.arreglo-de-tamaño{
  width: 75px;
}
.arreglo1{
  padding-left: 10px;
}
.arreglo2{
  margin-top: 10px;
}
